<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Deal</title>
<link href="../../../public/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="../../../public/css/font-awesome.min.css">



<body>
{{template "header.html" .}}
<div id="header"></div>
<img src="../../../public/img/R6552_Home_Main-Banner-3_Min-40-Off-SALE_15032017.jpg" class="topim"/>


<div class="container">
<div class="subcontainer padtb" style="padding-bottom:70px;">

<ul class="ditem">
<li>
<a href="#">
<img src="../../../public/img/599499.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/640990.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/652576.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/652756.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/653083.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/654345.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/655144.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/655204.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/651383.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/659113.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/656595.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
<li>
<a href="#">
<img src="../../../public/img/659968.jpg" />
<div class="pictit">
<div class="titho">
The very latest deals in Dubai can be found here...
</div>
</div>
<div class="dld">
Rs <span class="orgp">200</span>&nbsp;&nbsp;&nbsp;<span class="offp">50</span>
<span class="view">View Deal</span>
</div>
</a>
</li>
</ul>
<div class="clr"></div>
</div>
</div>

{{template "footer.html" .}}
</body>


</html>