<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
<link href="../../../public/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="../../../public/css/font-awesome.min.css">

 
</head>

<body>
{{template "header.html" .}}
{{if .errors}}Please fix errors marked below!{{end}}
<div id="header"></div>
<div class="container">
<div class="subcontainer padtb">
<div class="hdd">Sign Up</div>
<form method="post" action="/register/DoRegister">
<div class="contc">
    

<p class="{{if .errors.fname}}error{{end}}">
<p class="msg">First Name</p>
<div class="item">
<input name="fname" type="text" class="txtbx" value="{{.flash.username}}">
</div>
<span class="error">{{.errors.txtfname.Message}}</span>
</p>
<p class="msg">Last Name</p>
<div class="item">
<input name="lname" type="text" class="txtbx">
</div>
<p class="msg">E-mail</p>
<div class="item">
<input name="email" type="email" class="txtbx">
</div>
<p class="msg">Contact Number</p>
<div class="item">
<input name="cnum" type="text" class="txtbx">
</div>
<p class="msg">Password</p>
<div class="item">
<input name="pass" type="password" class="txtbx">
</div>
<p class="msg">Confirm Password</p>
<div class="item">
<input name="cpass" type="password" class="txtbx">
</div>
<br />
<div class="item2">
<input name="btnok" type="submit" value="SUBMIT" class="btnokc">
</div>
</div>
</form>


</div>
</div>
{{template "footer.html" .}}
</body>
</html>
