<div class="footer">
<div class="subfooter">
<table class="ftable">
<tr>
<td>
<ul class="ftul">
<li>
<h1 class="fthd">Company</h1>
<ul class="footul">
<li><a href="#">About us</a></li>
<li><a href="#">Contact us</a></li>
<li><a href="#">Join Our Site</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms and Conditions</a></li>
</ul>
</li>

<li>
<h1 class="fthd">Learn More</h1>
<ul class="footul">
<li><a href="#">How it works</a></li>
<li><a href="#">FAQ</a></li>
</ul>
</li>
<li>
<h1 class="fthd">Connect with us</h1>
<ul class="footul">
<li><a href="#">+91 83876376023</a></li>
<li><a href="#">support@dealoyedeal.com</a></li>
<li><a href="#">Customer Care</a></li>
</ul>
</li>
</ul>
<div class="clr"></div>
<h1 class="fthd ptp">Checkout deals & discounts</h1>
<p class="ftp">
Deal Oye Deal is an easy way to get huge discounts while discovering fun activities in your city. Our daily local deals consist of restaurants, beauty, travel, ticket vouchers, shopping vouchers, hotels, and a whole lot more, in hundreds of cities across the world.
</p>
<h1 class="fthd ptp">Follow us</h1>
<ul class="socul fa fa-lg">
<li><a target="_blank" href="#">&#xf09a;</a></li>
<li><a target="_blank" href="#">&#xf099;</a></li>
<li><a target="_blank" href="#">&#xf16d;</a></li>
<li><a target="_blank" href="#">&#xf0d5;</a></li>
<li><a target="_blank" href="#">&#xf0e1;</a></li>
</ul>
</td>

<td>
<img src="../../../public/img/aa.PNG" class="gp1" />

<img src="../../../public/img/ss.PNG" class="gp2" />
</td>
</tr>
</table>
<div class="clr"></div>
<div class="reg">
© Copyright 2008-2017 Powered By SigTech. All Rights Reserved.
</div>
</div>
</div>