<!--<div id="loginScreen"> <a href="#" class="cancel">&times;</a> 
<div class="fomho">
<form method="post" action="/login/doLogin">
<div class="fomhd">Log In</div>

<div class="fomtxhol">
<input name="txtmail" type="email" class="fomtxt" placeholder="Email"  />
</div>

<div class="fomtxhol">
<input name="txtpass" type="password" class="fomtxt" placeholder="Password"  required />
</div>

<div class="fombthol">
<input name="btnok" type="submit" class="fombt">
</div>

</form>
</div>
</div> <div id="cover" > </div>-->



<div class="header">
<div class="subheader">
<div class="table">
<div class="logoholder">
<a href="index.html"><img src="../../../public/img/logo.png" /></a>
</div>
<div class="menuholder">
<div class="srho">

<ul class="bb">
<li>
<div class="bob1">
<input name="srch" type="text" placeholder="Search Deals" />
<input name="btnsrch" type="button" value="&#xf002;" class="bt1 fa fa-lg">
</div>
</li>

<li>
<a href="/register/getRegister" class="log">Sign up</a>
</li>

<li>
<a href="UserLogin.html" class="log">Log in</a>
</li>
<li>
<div class="bob2">
<select name="place" class="pl">
<option>Konathakunnu</option>
<option>Vellangallur</option>
<option>Karupadanna</option>
<option>Kodungallur</option>
<option>Irinjalakuda</option>
</select>
</div>
</li>

</ul>
<div class="clr"></div>
</div>
<div class="clr"></div>
</div>

</div>
</div>
</div>

<div class="header1">
<div class="subheader">

<div class="outer-menu">
  <input class="checkbox-toggle" type="checkbox" />
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="deals.html">Deals</a></li>
<li><a href="#">Health & Beauty</a></li>
<li><a href="#">Activities</a></li>
<li><a href="#">Auto</a></li>
<li><a href="#">Shop</a></li>
<li><a href="#">Mobiles</a></li>
<li><a href="#">Electronics</a></li>
<li><a href="#">Home Appliances</a></li>
<li><a href="#">Cinema</a></li>
<li><a href="#">Food</a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="clr"></div>

</div>
</div>

